:root {
  --iris: #4d5ae5;
  --navyblue: #2e2f42;
  --navcolor: black;
  --oceancolor: #404bbf;
  --whitecolor: white;
  --slatecolor: #434455;
  --cloud: #f4f4fd;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.header {
  padding-top: 25px;
}

.menu {
  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  gap: 24px;
}

.navigation {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  gap: 30px;
}

.header-contacts {
  display: flex;
  margin-left: auto;
  gap: 30px;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: var(--slatecolor);
}

/* General Styles */

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /*   border: 2px solid blue; */
}
/* General Class */
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* Checked */
.logo-link {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-size: 0;
  line-height: 1.17;
  font-weight: 800;
  letter-spacing: 0.04em;
  margin-right: 130px;
}

/* Checked */
.logo-link > span {
  font-size: 18px;
}

/* Checked */
.logo {
  color: var(--iris);
}

/* Checked */
.studio {
  color: var(--navyblue);
}

/* Checked */
.studio {
  color: var(--navyblue);
}

/* Checked */
.studio-footer {
  color: var(--cloud);
}

/* Checked */
.nav-menu .page {
  color: var(--navcolor);
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* Checked */
.list {
  list-style-type: none;
}

/* Checked */
.nav-menu .page:hover,
.nav-menu .page:focus,
.nav-menu .page.current,
.contacts-menu .link:hover,
.contacts-menu .link:focus {
  color: var(--iris);
}

/* Checked */
.contacts-menu .link {
  color: var(--slatecolor);
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

/* Checked */
.bg-hero {
  background-color: var(--navyblue);
}

/* Checked */
.hero-title {
  color: var(--whitecolor);
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.04em;
  align-items: center;
  justify-items: center;
  font-weight: 700;
  margin-bottom: 30px;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

/* Checked */
.bg-team {
  background-color: var(--cloud);
}

/* Checked */
.button {
  cursor: pointer;
  border-color: transparent;
  letter-spacing: 0.03em;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.5;
  border-radius: 4px;
  font-size: 16px;
}

/* Checked */
.button.primary {
  background-color: var(--iris);
  color: var(--whitecolor);
  line-height: 1.87;
  letter-spacing: 0.05em;
  border-radius: 4px;
  background: var(--iris, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  margin: auto;
  margin-top: 30px;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
}

/* Checked */
.button.primary:hover,
.button.primary:focus {
  background-color: var(--oceancolor);
}

/* Checked */
.button.filter {
  background-color: var(--cloud);
  color: var(--iris);
  font-weight: 500;
  line-height: 1.62;
}

/* Checked */
.button.filter:hover,
.button.filter:focus,
.button.filter.current {
  background-color: var(--oceancolor);
  color: var(--cloud);
}

/* Checked */
.section-title {
  color: var(--navyblue);
  font-size: 36px;
  line-height: 1.17;
  display: flex;
  gap: 15px;
  text-align: center;
  justify-content: center;
  padding-bottom: 16px;
}

.filters {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 72px;
  padding-top: 96px;
  gap: 24px;
}

.button.filter {
  padding: 12px 24px;
}

.benefits {
  display: flex;
}

.project-card {
  margin-bottom: 48px;
  justify-content: center;
}

.benefits.list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

/* Checked */
.benefits .title {
  font-size: 20px;
  font-weight: 500;
  color: var(--navyblue);
}

/* Checked */
.benefits .description {
  color: var(--slatecolor);
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.32px;
}

.team-list {
  display: flex;
  gap: 24px;
  text-align: center;
}

.what-we-do.list {
  display: flex;
  gap: 24px;
}

.team {
  display: flex;
  padding-bottom: 0px;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.item {
  background-color: var(--whitecolor);
  padding-bottom: 32px;
  border-radius: 0px 0px 4px 4px;
  background: var(--white, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

/* Checked */
.team .name {
  color: var(--navyblue);
  padding-top: 32px;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.02em;
  gap: 8px;
}

/* Checked */
.team .position {
  color: var(--slatecolor);
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

/* Checked */
.page-footer.bg-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--navyblue);
  padding-left: 22px;
}

/* Checked */
.footer-description {
  color: var(--cloud);
  padding-top: 10px;
}

/* Checked */
.project {
  text-decoration: none;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

/* Checked */
.project .name {
  color: var(--navyblue);
  font-weight: 500;
  font-size: 20px;
  line-height: 2;
  letter-spacing: 0.04em;
}

/* Checked */
.project .type {
  color: var(--slatecolor);
  font-weight: 400;
  line-height: 1.87;
}

.page-header {
  border: 1px solid var(--cornflower, #e7e9fc);
  background: var(--white, #fff);
}
